<!-- based on https://www.codesmite.com/article/how-to-create-pure-css-hexagonal-grids -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hexagonal Grid by Codin @ Codesmite.com</title>
        <meta name="description" content="Hexagonal Grid by Codin @
            Codesmite.com">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
    </head>
    <body>
        <ul id="grid" class="clear">
            <li>
                <div class="hexagon">
                    <div class="content">
                        <h3>One</h3>
                        <p>Row B</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="hexagon">
                    <div class="content">
                        <p>Two</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="hexagon">
                    <div class="content">
                        <p>Three</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="hexagon"></div>
            </li>
            <li>
                <div class="hexagon"></div>
            </li>
            <li>
                <div class="hexagon"></div>
            </li>
            <li>
                <div class="hexagon"></div>
            </li>
            <li>
                <div class="hexagon"></div>
            </li>
            <li>
                <div class="hexagon"></div>
            </li>
            <li>
                <div class="hexagon"></div>
            </li>
            <li>
                <div class="hexagon"></div>
            </li>
            <li>
                <div class="hexagon"></div>
            </li>
        </ul>
    </body>
</html>