<!DOCTYPE html>
<html lang="en">
    <head>
        <meta environment="{{ .Env }}">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Tom Elliott</title>
        <meta name="description" content="Tom Elliott - Projects">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <link rel="stylesheet" type="text/css" href="styles/hexagon.css">
    </head>
    <body>
        <div class="container">
            <div class="container clearfix">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img class="site-logo" src="/assets/tom.jpg">
                    </div>
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="text-muted">Tom Elliott</h1>
                        <p>Software Engineer by day, hobbyist software engineer the rest of the time.</p>
                        <p>Here are a few of the things I've made.</p>
                    </div>
                </div>
            </div>

            <div class="clearfix">&nbsp;</div>

            <!-- based on https://www.codesmite.com/article/how-to-create-pure-css-hexagonal-grids -->
            <ul id="grid" id="project-grid" class="clear">
                {{range .Items}}
                <li>
                    <a href="{{ .URL }}">
                        <div class="hexagon">
                            {{ if .Image }}
                                <img src="/image/{{ .Name }}"/>
                            {{ end }}
                            <div class="content">
                                <h3 class="name">{{ .Name }}</h3>
                                <p class="description">{{ .Description }}</p>
                            </div>
                        </div>
                    </a>
                </li>
                {{else}}
                <div><strong>no rows</strong></div>
                {{end}}
            </ul>
        </div>
        <script src="//code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
        <script async=""
            src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="https://makerbadge.s3.amazonaws.com/blmbadge.js"></script>
        <script>
        BLMBadge.init({
            layout:1, 
            theme:'dark', 
            promoText : 'Send a donation '+String.fromCodePoint(0x2192),
            promoLink : 'https://minnesotafreedomfund.org/',
            message : 'To be silent is to be complicit. Black lives matter.',
            title : '#BlackLivesMatter'
        })
        </script>
    </body>
</html>