<!-- based on https://www.codesmite.com/article/how-to-create-pure-css-hexagonal-grids -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hexagonal Grid by Codin @ Codesmite.com</title>
        <meta name="description" content="Hexagonal Grid by Codin @
            Codesmite.com">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
    </head>
    <body>
        <ul id="grid" class="clear">
            {{range .Items}}
                <li>
                    <div class="hexagon">
                        <div class="content">
                            <h3>{{ .Name }}</h3>
                            <p>{{ .Description }}</p>
                        </div>
                    </div>
                </li>
            {{else}}
                <div><strong>no rows</strong></div>
            {{end}}
        </ul>
    </body>
</html>